@tailwind utilities;

@theme{
    /* cor background */
    --color-mint-50: #D0E3F2;
    --color-mint-150: #91AAB9;
    --color-mint-100: #A7C1D9 ;
    --color-mint-200: #C2DCF2 ;
    --color-mint-250: #5F7A8C;
    --color-mint-300: #2E5D89 ;
    /* cor das fontes */
    --color-font-100: #F0F3F5;
    --color-font-gray: #4B5563;
}